@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap");
/* font-family: 'Kantumruy Pro', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Playfair+Display:wght@800&display=swap");
/* font-family: 'Playfair Display', serif; */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap");

/* font-family: 'Red Hat Display', sans-serif; */

body {
  margin: 0;
}

.registerpopup-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerpopup-box {
  border: 1px solid white;
  background: rgb(255, 255, 255);
  color: black;
  height: 70vh;
  width: 25%;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgb(41, 41, 41);
}

.registerpopup-status {
  height: 50%;
  width: 100%;
  background: #39c643;
  border: 1px solid #39c643;
  border-radius: 19px 19px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.success-icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.success-text {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "Kantumruy Pro", sans-serif;
}
.registerpopup-detail {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.detail {
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-family: "Kantumruy Pro", sans-serif;
}

.detail-1 {
  margin-bottom: 1rem;
}

.continue-button {
  padding: 0.6rem 2rem;
  background: #39c643;
  border: none;
  border-radius: 1.2rem;
  color: white;
  font-family: "Kantumruy Pro", sans-serif;
}

.continue-button:hover {
  cursor: pointer;
  box-shadow: 5px 6px 10px rgb(182, 182, 182);
}

/* POPUP STATUS FAIL */

.registerpopup-status-fail {
  height: 50%;
  width: 100%;
  background: #b73939;
  border: 1px solid #b73939;
  border-radius: 19px 19px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.fail-icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.continue-button-fail {
  padding: 0.6rem 2rem;
  background: #b73939;
  border: none;
  border-radius: 1.2rem;
  color: white;
  font-family: "Kantumruy Pro", sans-serif;
}

.continue-button-fail:hover {
  cursor: pointer;
  box-shadow: 5px 6px 10px rgb(182, 182, 182);
}

/* DELETE CONFIRMATION DIALOGUE BOX */

.delete-modal-background {
  position: absolute;
  height: 100vh;
  width: 30%;
  background-color: rgba(155, 155, 155, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-container {
  width: 70%;
  height: 20vh;
  background: white;
  border-radius: 10px;
}

.delete-modal-header {
  height: 7vh;
  width: 100%;
  background: #344c57;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.delete-modal-body {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.delete-modal-footer {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
}
.modal-cancel-btn {
  border: none;
  background: #dee5ee;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #344c57;
}

.modal-cancel-btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px #344c57;
}

.modal-confirm-btn {
  border: none;
  background: #344c57;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
}

.modal-confirm-btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px #344c57;
}

/* MEDIA QUERY  */

@media (max-width: 768px) {
  .registerpopup-box {
    width: 85%;
  }
}
